@import "tailwindcss";
@import "./styles/theme.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.bg-background {
  background-color: var(--color-background);
}

.bg-surface {
  background-color: var(--color-surface);
}

.bg-surface-hover:hover {
  background-color: var(--color-surface-hover);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-hover:hover {
  background-color: var(--color-primary-hover);
}

.text-primary {
  color: var(--color-primary);
}

.text-main {
  color: var(--color-text);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.border-theme {
  border-color: var(--color-border);
}